<!DOCTYPE html>
<html>
  <%- include('partials/header') %>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <h1>Edit Image</h1>
      <form action="/gallery/<%= image.id %>/edit" method="POST">
        <label for="description"><b>Item Description</b></label>
        <input
          id="description"
          type="text"
          placeholder="<%= image.item_description %>"
          name="item_description"
        />

        <label for="price"><b>Item Price</b></label>
        <input
          id="price"
          type="number"
          placeholder="<%= image.item_price %>"
          name="item_price"
        />

        <div>
          <button class="ui-btn" type="submit">Submit</button>
          <a href="/gallery">
            <button class="ui-btn" type="button">Cancel</button>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
