<%- include("partials/header") %>
<!-- <header class="jumbotron">
<h1>Image Gallery</h1>
</header> -->
<div class="container">
    <h1>Image Gallery</h1>
    <a class="btn btn-primary btn-large" href="/gallery/new" class="href">Add New Image</a>

    <div class="galleryRow row">
    <% gallery_images.forEach((image) => { %>
        <div class="galleryImage col-3">
            <div class="card">
                <a href="<%=image.image_url%>" data-lightbox="image-1"><img class="card-img-top" src="<%=image.image_url%>"></a>
                <div class="card-body">
                    <div class="card-text">Item description: <%=image.item_description%></div>
                    <div class="card-text">Item price: $<%=image.item_price%></div>
                </div> 
            </div>
        </div>
    <% }); %>
    </div>
</div>
<script src="/dist/lightbox-plus-jquery.min.js"></script>
<%- include("partials/footer") %>
