<%- include("partials/header") %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
<!-- easiest way to use props from res.render is just inserting js here, instead of using a new js file -->
<% if (isLoggedIn) { %>
<a class="btn admin" id="add-new-image" href="/gallery/new">Add New Image</a>
<% } %>
<div class="gallery-container">
    <% gallery_images.forEach((image) => { %>
    <div class="gallery-image col-3" data-filename="<%= image.file_prefix%>">
        <% if (isLoggedIn) { %>
        <div class="card-admin">
            <i class="fas fa-window-close delete-image"></i>
            <a class="edit-image" href="">Edit</a>
        </div>
        <% } %>
        <div class="card">
            <div class="card-top">
                <a href="<%=image.image_url_prefix + '-big.jpg'%>"
                    data-lightbox="image-1" 
                    data-title="<%=image.item_description%>" 
                    data-alt="<%=image.item_description%>" 
                    data-id="<%=image.id%>">
                    <img class="card-img-top" 
                        src="<%=image.image_url_prefix + '-small.jpg'%>"
                    >
                </a>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <% if (image.item_description !== null) { %>
                        <%=image.item_description%>
                    <% } else { %>
                    <br>
                    <% } %>
                </div>
                <div>
                    <% if (image.item_price !== null) { %>
                        $<%=image.item_price%>
                    <% } %>
                    <i class="fas fa-envelope email-icon"></i>
                </div>
            </div> 
        </div>
    </div>
    <% }); %>
</div>
<% if (isLoggedIn) { %>
<button id="delete-button">Delete Images</button>
<button id="cancel-delete">Cancel</button>
<% } %>
<div id="open-button-div">
<button id="open-button" class="transparent-button">Email Sandy</button>
</div>
<div id="email-popup">
    <!-- not sure what route I should use -->
    <form action="/email" method="POST" id="email-form">
      <h1>Email Sandy</h1>
  
      <label for="email"><b>Email</b></label>
      <input id="email-address" type="email" placeholder="Your Email" name="email" required>
  
      <label for="subject"><b>Subject</b></label>
      <input id="email-subject" type="text" placeholder="Subject" name="subject" required>
      
      <label for="body"><b>Body</b></label>
      <textarea id="email-body" placeholder="Enter text here..." name="body" required></textarea>
      
      <div id="popup-buttons">
          <button type="submit">Send Email</button>
          <button id="cancel-button">Cancel</button>
      </div>
    </form>
</div>
<script src="/js/gallery.js"></script>
<script src="/dist/lightbox-plus-jquery.min.js"></script>
<script>
    lightbox.option({
        'showImageNumberLabel': false
    })
</script>
<%- include("partials/footer") %>
