<%- include("partials/header") %>
<link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
<a class="btn btn-primary btn-large" href="/gallery/new" class="href">Add New Image</a>
<div class="gallery-container">
    <% gallery_images.forEach((image) => { %>
        <div class="gallery-image col-3">
            <div class="card">
                <a href="<%=image.image_url%>" data-lightbox="image-1" data-title="<%=image.item_description%>" data-alt="<%=image.item_description%>"><img class="card-img-top" src="<%=image.image_url%>"></a>
                <div class="card-body">
                    <div class="card-text"><%=image.item_description%></div>
                    <div class="card-text">$<%=image.item_price%></div>
                </div> 
            </div>
        </div>
    <% }); %>
</div>
<script src="/dist/lightbox-plus-jquery.min.js"></script>
<script>
    lightbox.option({
        'showImageNumberLabel': false
    })
</script>
<%- include("partials/footer") %>
